DATABASE_URL="postgresql://neondb_owner:npg_skrm9VDGUdW3@ep-icy-scene-ad4oncp6-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
NEXTAUTH_URL="https://test-github-io-kappa.vercel.app"
NEXTAUTH_SECRET="y5QjEtGieTqOH5jzw4Y9h0+CDhS153mNnbSkd0EZe78="
GOOGLE_CLIENT_ID="489482888822-vk2v482kul76lcfbls9eqdl1mupuoehg.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="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"
